h1{
	font-family: ARIAL;
	font-size: 250%;
	font color: BLACK;
	width: 100%
	background-color: #FA5882;
    }

p{
 font-family: ARIAL;
 font-size: 250%;  

}

div p {

  font-family: ARIAL;
  font-size: 250%;	
  
  }

h2 {
	width: 1000%;
    background-color: #FA5882;

   }